@import "~bootstrap/scss/bootstrap.scss";

@import "~bootstrap/scss/bootstrap.scss";


.card{
    height: 60rem;
    

}

.container{
    margin-top: 50px;
    max-width: 850px;
}


.checklist{
    
    list-style-type:none
}
.btn{
    font-size: larger;
    color: gray;
}
ul {
    list-style: none;
}

body{
       background: #4a898d;
}
.note{
   margin-right: 15rem;
   color: lightgrey;
}

input::placeholder{
color: #101010;
background-color: none;
}

input:focus{
    border:none;
    outline:none;
}
